body,html{margin: 0; padding: 0;}

body{
    background-color: #EEE;
}
h1,h2,h3,h4,p,a,li,ul{
    font-family: arial,sans-serif;
    color: black;
    text-decoration: none;
}

#nav{
    margin: 50px auto 0 auto;
    width: 1000px;
    background-color: #888;
    height: 15px;
    padding: 20px;
}

#nav a:hover{
    color: green;
}

#nav ul{
   list-style: none;
   float: left;
   margin: 0 50px; 
}

#nav ul li{
    display: inline;
}

#content{
    width: 1000px;
    min-height: 400px;
    margin: 0 auto;
    padding: 20px;
}
#contact{
    width: 170px;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px;
}

#footer{
    background-color: #888;
    text-align: center;
    width: 1000px;
    height: 15px;
    margin: 0 auto;
    padding: 20px;
}
#footer p{margin: 0;}
